

.input-group {
	display: flex;
	flex-direction: column;
}

.list {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}


.list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body{
    background: url("img/background.png");
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background:white;
}

.single_comment {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-evenly;
    background: white;
	border-radius: 15px;
	font-size: 20px;
	max-width:500px;
	width:500px;
	box-shadow: 3px 5px 12px black;
	padding:12px 20px;
	height: auto;
    gap:25px;
    margin-top: 24px;
    margin-bottom: 24px;

}

.form-items{
    padding: 5px;
}

.memory-field{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-fields{
    margin-bottom: 15px;
}


.white-hr{
    color:white;
}

.memory-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px;
}