<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kiernan Memorial Memory</title>
</head>
<body>
    <h1>Send a memory that you have of Kiernan</h1>
    <form action="" method="post"></form>
        <div>
          Name:  <input type="text" th:field="${message.author}">
        </div>
        <div>
           Memory: <input type="text" th:field="${message.message}">
        </div>
        <div>
            <input type="submit" value="Send a Memory">
        </div>
</body>
</html>